<p style="color: green"><%= notice %></p>


<h1>Search for Students</h1>

<!-- Display the Search form -->
<%= render 'search', student: Student.new %>


<%= link_to "Show All", students_path(show_all: true), class: "btn btn-secondary mb-3 ms-3 px-5" %>


<% if @students.any? %>
   <h4>Search Results: Total <%= @students.count %> Students</h4>
  <%= render partial: 'results', locals: { students: @students } %>
<% elsif @students.count == 0 %>
    <p>No students found.</p>
  
<% end %>
